<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Eportfolio</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    </head>
    <Body>
        <header>
            <h1>Welcome to your ePortfolio generator</h1>
        </header>
        <h2>Personnal info</h2> 
            <label for="firstname">Firstname</label>
            <label for="lastname">Lastname</label>
            <label for="email">Email</label>
        

        <h2>Project Description</h2>
    </Body>




</html>